modules = ["python-3.12", "web", "nodejs-20"]
run = "cd frontend && npm run build && cd ../backend && python app.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
