.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#body {
  margin: 0;
  display: flex;
  height: 200vh;
  font-family: "Zen Dots";
  font-size: 18px;
  overflow: auto;
}

.App {
  display: flex;
  width: 100%;
}

.curb.left {
  width: 5% !important;
  background-size: 2% 20% !important;
  background-image: linear-gradient(
    0deg,
    #333 0%,
    #333 1%,
    red 1%,
    red 24%,
    #333 24%,
    #333 25%,
    white 25%,
    white 49%,
    #333 49%,
    #333 50%,
    red 50%,
    red 74%,
    #333 74%,
    #333 75%,
    white 75%
  ) !important;
  background-position: 10px 10px !important;
}

.curb.right {
  width: 5% !important;
  background-size: 2% 20% !important;
  background-image: linear-gradient(
    0deg,
    #333 0%,
    #333 1%,
    red 1%,
    red 24%,
    #333 24%,
    #333 25%,
    white 25%,
    white 49%,
    #333 49%,
    #333 50%,
    red 50%,
    red 74%,
    #333 74%,
    #333 75%,
    white 75%
  ) !important;
  background-position: 10px 10px !important;
}

.content {
  flex: 1;
  background-color: rgb(56, 56, 56);
  color: white;
  text-align: center;
  padding: 20px;
  border-left: 10px solid lightgray;
  border-right: 10px solid lightgray;
  height: 100%;
}

.content::before,
.content::after {
  content: ""; /* Required for ::before and ::after */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px; /* Adjust border thickness */
  height: 200%;
  background-color: #333; /* Dark border color */
}

.content::before {
  left: 5%; /* Position left border */
}

.content::after {
  right: 5%; /* Position right border */
}

.main.button {
  background-color: darkred;
  width: 90%;
  height: 80%;
  color: white;
  border-radius: 35px;
  margin: auto;
  padding-top: 7.5%;
  padding-bottom: 9%;
  /* transition-duration: 0.2s; */
  font-family: "Zen Dots";
  font-size: larger;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: hidden; */
  transition: all 0.5s ease;
  /* transition: width 0.2s ease; */
}

.transition {
  height: 350%;
  transition-duration: 0.5s;
}

.main.button.expanded {
  height: 350%;
  transition-duration: 0.5s;
  padding-top: 2%;
  padding-bottom: none;
}

.main.button.expanded .submenu-content {
  display: block;
  padding-bottom: none;
  margin-bottom: none;
  overflow: visible;
}

.main.button:hover {
  background-color: #aa0000;
  /* width: 92%;
  height: 82%; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .main.button:active {
  width: 89.5%;
  top: 400%;
  height: 78%;
  transform: translateY(-100);
  opacity: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.1s;
} */

.button-content {
  /* overflow: hidden; */
  transition: height 0.3s ease;
  height: 500%;
}

.button-struct.expanded {
  height: 1500%;
}

#buttons {
  margin-left: 6.5%;
  margin-right: 6.5%;
  width: auto;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-style: italic;
}

.back-image {
  width: 50%;
  height: 70%;
  /* margin-right: 0%; */
  /* margin-top: 1.5%; */
  /* margin-left: auto; */
}

.back-button {
  width: 70px;
  height: 35px;
  border-radius: 40px;
  border: none;
  transition: all 0.25s ease;
}

.back-button:active {
  background-color: lightgray;
  width: 55px;
  transition-duration: 0.25s;
}

.back-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.back-button-container {
  width: 25%;
}

.input-label-top {
  width: 70%;
  margin-left: 5%;
  text-align: start;
  font-size: larger;
}

.input-label {
  margin-left: 5%;
  text-align: start;
  font-size: larger;
}

#driver-submenu-top {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 0%;
}

.input-field {
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  border-radius: 30px;
  text-indent: 5%;
  border-color: transparent;
}

.vertical-spacer-medium {
  margin: 5%;
}

.switch {
  margin-left: 6%;
  color: white;
  margin-right: auto;
  width: 10%;
  opacity: 100;
  transition-duration: 1s;
  /* z-index: 1;
  position: relative; */
}

.switch-hidden {
  opacity: 0;
  transition-duration: 0.15s;
}

.switch-label {
  width: 10%;
  padding-top: 3%;
  margin-right: 65%;
  margin-left: auto;
}

.switch-row {
  width: 90%;
  display: flex;
  overflow: visible;
  /* position: absolute;
  z-index: 0; */
}

.enter-button {
  margin-bottom: none;
}

.internal-button {
  margin-bottom: 10px;
  width: 50%;
  background-color: white;
  border-radius: 35px;
  border: none;
  height: 60px;
  transition: all 0.2s ease;
}

.internal-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.025);
  /* transition-duration: 0.5s; */
}

.internal-button:active {
  /* height: 59px; */
  width: 48%;
  background-color: lightgray;
  transition-duration: 0.15s;
}
.internal-button::after {
  height: 60px;
  width: 20%;
  transition-duration: 0.25s;
}

.internal-button.loading {
  padding: 6px 6px; /* Smaller padding to make the button shrink */
  width: 50px; /* Fixed width for the spinner */
  height: 50px; /* Make it more circular for the spinner */
  border-radius: 50%; /* Circle shape while loading */
}

.internal-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

dialog {
  border-radius: 35px;
  box-shadow: 0 36px 36px 0 rgba(0, 0, 0, 0.5), 0 50px 50px 0 rgba(0, 0, 0, 0.19);
  border: none;
  width: 60%;
  transition-duration: 0.5s;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.75;
  transition-duration: 0.5s;
}

dialog::after {
  transition: all ease-out 0.25s;
  transition-duration: 0.5s;
}

dialog {
  --duration: 0.55s;

  transition: 
    translate var(--duration) ease-in-out,
    scale     var(--duration) ease-in-out,
    display   var(--duration) ease-in-out allow-discrete;

  &[open] {

    /* Post-Entry (Normal) State */
    translate: 0 0;
    scale: 1;

    /* Pre-Entry State */
    @starting-style {
      translate: 0 100vh;
      scale: 0.45;
    }
  }

  /* Exiting State */
  &:not([open]) {
    translate: 0 -100vh;
    scale: 0.45;
  }
}


.dialog-button {
  border-radius: 35px;
  width: 30%;
  height: 50px;
  border:none;
  background-color: #aa0000;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.025);
  transition-duration: 0.2s;
}

.dialog-button:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 8px 10px 0 rgba(0, 0, 0, 0.025);
  transition-duration: 0.15s;
}

.dialog-button:active {
  width: 25%;
  transition-duration: 0.2s;
}

.dialog-image-top {
  width: 10%;
  height: 10%;
  padding-left: 3%;
}

/* Dark overlay for backdrop */
.session-results-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal box */
.session-results-modal {
  background-color: rgb(30, 30, 30);
  border-radius: 30px;
  padding: 30px;
  width: 60%;
  max-height: 90vh;
  overflow: hidden;
  box-shadow: 0 36px 36px rgba(0, 0, 0, 0.5), 0 50px 50px rgba(0, 0, 0, 0.19);
  color: white;
  z-index: 10000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  z-index: 2000; /* Ensure it's above other elements */
  background: rgb(30, 30, 30);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%; /* Adjust width based on your layout */
  max-width: 600px; /* Limit the maximum width */
}

.modal-title {
  font-family: "Zen Dots", sans-serif;
  margin-bottom: 20px;
}

.results-table {
  background-color: rgb(30, 30, 30);
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* allow to grow */
  overflow-y: auto;
  max-height: 50vh; /* control scrollable area height */
  width: 90vh;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
.results-table::-webkit-scrollbar {
  display: none;
}

.result-row {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
}

.result-row:nth-child(even) {
  background-color: rgb(50, 50, 50);
}

.result-row:last-child {
  border-bottom: none;
}

.driver-abbreviation {
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.lap-time {
  color: white;
  font-family: "Zen Dots", sans-serif;
}

.dialog-button {
  margin-top: 20px;
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light background */
  border-top: 8px solid #ba0000; /* Blue color */
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
  opacity: 100;
  transition: opacity 0.5s ease; /* Fades in over 0.5 seconds */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .curb.left, .curb.right {
    width: 7% !important;
  }
  .content {
    padding: 15px;
  }
  .main.button {
    width: 80%;
    font-size: medium;
  }

  .content::before {
    left: 7%; /* Position left border */
  }
  
  .content::after {
    right: 7%; /* Position right border */
  }
}

@media screen and (max-width: 992px) {
  .curb.left, .curb.right {
    width: 8% !important;
  }
  .content {
    padding: 10px;
  }
  .main.button {
    width: 75%;
    font-size: medium;
  }
  .back-button-container {
    width: 35%;
  }
  .switch {
    width: 15%;
  }

  .content::before {
    left: 8%; /* Position left border */
  }
  
  .content::after {
    right: 8%; /* Position right border */
  }
}

@media screen and (max-width: 768px) {
  .curb.left, .curb.right {
    width: 10% !important;
  }
  /* .content {
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
  } */
  .main.button {
    width: 70%;
    font-size: small;
  }
  #buttons {
    flex-direction: column;
    align-items: center;
  }
  .switch-row {
    flex-direction: column;
    align-items: center;
  }
  .switch-label {
    width: auto;
    text-align: center;
  }
  .back-button-container {
    width: 50%;
  }

  .content::before {
    left: 10%; /* Position left border */
  }
  
  .content::after {
    right: 10%; /* Position right border */
  }
}

@media screen and (max-width: 480px) {
  .curb.left, .curb.right {
    width: 12% !important;
  }
  .content {
    padding: 5px;
    font-size: small;
  }
  .main.button {
    width: 90%;
    font-size: smaller;
  }
  .back-button {
    width: 50px;
    height: 25px;
    font-size: smaller;
  }
  .back-button-container {
    width: 60%;
  }
  .switch {
    width: 20%;
  }
  .dialog-button {
    width: 50%;
  }
  dialog {
    width: 90%;
  }

  .content::before {
    left: 12%; /* Position left border */
  }
  
  .content::after {
    right: 12%; /* Position right border */
  }
}