.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#body {
  margin: 0;
  display: flex;
  height: 200vh;
  font-family: "Zen Dots";
  font-size: 18px;
  overflow: auto;
}

.App {
  display: flex;
  width: 100%;
}

.curb.left {
  width: 5% !important;
  background-size: 2% 20% !important;
  background-image: linear-gradient(
    0deg,
    #333 0%,
    #333 1%,
    red 1%,
    red 24%,
    #333 24%,
    #333 25%,
    white 25%,
    white 49%,
    #333 49%,
    #333 50%,
    red 50%,
    red 74%,
    #333 74%,
    #333 75%,
    white 75%
  ) !important;
  background-position: 10px 10px !important;
}

.curb.right {
  width: 5% !important;
  background-size: 2% 20% !important;
  background-image: linear-gradient(
    0deg,
    #333 0%,
    #333 1%,
    red 1%,
    red 24%,
    #333 24%,
    #333 25%,
    white 25%,
    white 49%,
    #333 49%,
    #333 50%,
    red 50%,
    red 74%,
    #333 74%,
    #333 75%,
    white 75%
  ) !important;
  background-position: 10px 10px !important;
}

.content {
  flex: 1;
  background-color: rgb(56, 56, 56);
  color: white;
  text-align: center;
  padding: 20px;
  border-left: 10px solid lightgray;
  border-right: 10px solid lightgray;
  height: 100%;
}

.content::before,
.content::after {
  content: ""; /* Required for ::before and ::after */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px; /* Adjust border thickness */
  height: 200%;
  background-color: #333; /* Dark border color */
}

.content::before {
  left: 5%; /* Position left border */
}

.content::after {
  right: 5%; /* Position right border */
}

.main.button {
  background-color: darkred;
  width: 90%;
  height: 80%;
  color: white;
  border-radius: 35px;
  margin: auto;
  padding-top: 7.5%;
  padding-bottom: 9%;
  /* transition-duration: 0.2s; */
  font-family: "Zen Dots";
  font-size: larger;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* overflow: hidden; */
  transition: all 0.5s ease;
  /* transition: width 0.2s ease; */
}

.transition {
  height: 350%;
  transition-duration: 0.5s;
}

.main.button.expanded {
  height: 350%;
  transition-duration: 0.5s;
  padding-top: 2%;
  padding-bottom: none;
}

.main.button.expanded .submenu-content {
  display: block;
  padding-bottom: none;
  margin-bottom: none;
  overflow: visible;
}

.main.button:hover {
  background-color: #aa0000;
  /* width: 92%;
  height: 82%; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.main.button:active {
  /* width: 89.5%; */
  /* top: 400%; */
  /* height: 78%; */
  /* transform: translateY(-100); */
  /* opacity: 0; */
  transition-duration: 0.15s;
}

.button-content {
  /* overflow: hidden; */
  transition: height 0.3s ease;
  height: 500%;
}

.button-struct.expanded {
  height: 1500%;
}

#buttons {
  margin-left: 6.5%;
  margin-right: 6.5%;
  width: auto;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-style: italic;
}

.back-image {
  width: 50%;
  height: 70%;
  /* margin-right: 0%; */
  /* margin-top: 1.5%; */
  /* margin-left: auto; */
}

.back-button {
  width: 90%;
  height: 90%;
  border-radius: 40px;
  border: none;
  transition: all 0.25s ease;
}

.back-button:active {
  background-color: lightgray;
  width: 60%;
  transition-duration: 0.25s;
}

.back-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.back-button-container {
  width: 25%;
}

.input-label-top {
  width: 70%;
  margin-left: 5%;
  text-align: start;
  font-size: larger;
}

.input-label {
  margin-left: 5%;
  text-align: start;
  font-size: larger;
}

#driver-submenu-top {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 0%;
}

.input-field {
  margin-left: 3%;
  margin-right: 3%;
  width: 90%;
  border-radius: 30px;
  text-indent: 5%;
  border-color: transparent;
}

.vertical-spacer-medium {
  margin: 5%;
}

.switch {
  margin-left: 6%;
  color: white;
  margin-right: auto;
  width: 10%;
}

.switch-label {
  width: 10%;
  padding-top: 3%;
  margin-right: 65%;
  margin-left: auto;
}

.switch-row {
  width: 90%;
  display: flex;
}

.enter-button {
  margin-bottom: none;
}

.internal-button {
  margin-bottom: 10px;
  width: 50%;
  background-color: white;
  border-radius: 35px;
  border: none;
  height: 60px;
  transition: all 0.3s ease;
}

.internal-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.025);
  /* transition-duration: 0.5s; */
}

.internal-button:active {
  /* height: 59px; */
  width: 48%;
  background-color: lightgray;
  transition-duration: 0.15s;
}
.internal-button::after {
  height: 60px;
  width: 50%;
  transition-duration: 0.25s;
}
